.convergent-loader  {
  width: 3em;
  height: 3em;
  animation: convergentLoaderAnim 1.25s infinite;
  outline: 1px solid transparent;
  z-index: 10000000;
  position: absolute;
  left: 3em;
  bottom: 3em;
}

.convergent-loader-outer-box {
  border-radius: 50%;
  height: 3em;
  width: 3em;
  background-color: #eee;
  outline: 1px solid transparent;
  position: fixed;
  animation: convergentLoaderOuterBoxAnim 0.5s;
}
.convergent-loader-inner-box {
  border-radius: 50%;
  height: 3em;
  width: 3em;
  background-color: #14abfc;
  position: fixed;
  z-index: 1;
  outline: 1px solid transparent;
  animation: convergentLoaderInnerBoxAnim 1.25s alternate infinite ease-in-out;
}

@keyframes convergentLoaderOuterBoxAnim {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}

@keyframes convergentLoaderInnerBoxAnim {
  0% {transform: scale(0);}
  100% {transform: scale(0.8);}
}

@keyframes convergentLoaderAnim {
  0% {transform: rotate(45deg);}
  100% {transform: rotate(135deg);}
}